<!--

Copyright 2013 Telefonica Investigación y Desarrollo, S.A.U

This file is part of Mondongo Portal

Mondongo Portal is free software: you can redistribute it and/or modify it under the terms
of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Mondongo Portal is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the
implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along with Mondongo Portal. If not,
see http://www.gnu.org/licenses/.

For those usages not covered by the GNU Affero General Public License please contact with fermin at tid dot es

-->

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}stylesheets/resets.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}stylesheets/application.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}stylesheets/button.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}stylesheets/contextMenu.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/ui-lightness/jquery-ui-1.8.9.custom.css">
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ STATIC_URL }}theme/telefonica/stylesheets/custom.css">
    <!--script language="javascript" type="text/javascript" src="/javascripts/jquery-1.6.1.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/application.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/extlib.js"></script-->
</head>
<body>
<div id="container">

    {% block mastheadx %}{% endblock %}

    <div id="page" class="wrap">{% block page %}{% endblock %}</div>

</div>
<div id="footer">
    <div class="wrap">
        <p>Authored by Fermín Galán Márquez <a href="mailto:fermin@tid.es">(fermin@tid.es)</a>, 2012</p>
    </div>
</div>

</body>
</html>